#Crono{
    display: flex;
    justify-content:center;
    align-items: center;
}
#timelabel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:160px;
    height:25px;
    margin: 0.9em;
    background: #fff;
    border-radius: 0.5em;
    
}
#timer-input{
    display: flex;
    justify-content: start;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    width:100px;
    margin: 1em;
    border-radius: 0.5em;
    
}
#countdown-display{
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
    
    
    
}
#btn-start{
--color: #00A97F;
 --color2: rgb(10, 25, 30);
 padding: 0.8em 1.75em;
 background-color: transparent;
 border-radius: 6px;
 border: .3px solid var(--color);
 transition: .5s;
 position: relative;
 overflow: hidden;
 cursor: pointer;
 z-index: 1;
 font-weight: 300;
 font-size: 17px;
 font-family: 'Roboto', 'Segoe UI', sans-serif;
 text-transform: uppercase;
 color: var(--color);
 
}
#btn-start:after, #btn-start::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
#btn-start::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
#btn-start:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
#btn-start:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
#btn-start:hover {
    color: var(--color2);
   }
#btn-start:active {
    filter: brightness(.7);
    transform: scale(.98);
   }